html{
	max-width: 100%;	
}
body {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	font-family: sans-serif;
	font-family:Calibri;
	height:100%;
	padding-bottom: 60px;
}
#header {
	padding: 10px;
	background-color: #609D9F;
	height: 120px;
	width: 100%;
}
#HText {
	margin: -17px 0px 0px 0px;
	color: white;
	width: 20px;
	margin: 0% 0% 0% 48%;
}
.Home {
	background-color: #609D9F;
	justify-content: space-around;
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	height: 10%;
	border-color: black;
	border-style: solid;
	border-width: 2px;
}
#logo {
	width: 100px;
	float: left;
}
#InloggenBox{
	width: 55%;
}
#container{
	overflow: hidden;
}

/* NAVIGATIE */

.dropbtn{
	background-color: #609D9F;
	color: white;
	font-size: 16px;
	font-family:Calibri;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	width: 13.72em;
}
.dropbtn:hover {
	background-color: #8fbbbc;
}
.nav {
	background-color: white;
	font-family: Arial;
}
.nav a {
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 14px 16px;
}

@media screen and (max-width: 600px) {
	#zoeken a, .zoeken
	input[type=text]{
		display: inline-block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;

	}
}
#zoeken{
	margin: 0% 0% 0% 60%;
	display: inline-block;
}
#winkelwagen{
	margin: 0% 0% 10% 25%;
	display: inline-block;
}

#Product1, #Product2, #Product3, #Product4, #Product5, #Product6{
	padding-top: 100px;
	width: 25em;
	height: 30em;
	display: inline-block;
}
#Product1:hover
{
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}
#Product2:hover
{
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}
#Product3:hover
{
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}
#Product4:hover
{
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}
#Product5:hover
{
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}
#Product6:hover
{
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}
#Product7:hover
{
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}
#Product8:hover
{
        -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
}
/*FOOTER*/

#footer {
	border-color: black;
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	background-color: #609D9F;
	position: fixed;
	bottom:0;
	width:100%;
	color: white;
	height:40px;
	}
#FooterText{
	margin: 0% 70% 0% 0%;
}
#knop {
	margin-top: 0.7%;
	height: 10%;
	padding-bottom: 1px;
}
#InputBar{
	width: 80%;
}

